<div ng-include src="'view/headerCollaborator.html'"></div>

<fieldset class="container-bg-warning">
	    <div class="container">
            <div class="jumbotron" id="jumbotron-1">
                <h3 class="card-header">Create your incident</h3>
                <form class="table table-hover" name="incidentForm">
                    <input class="form-control h6" type="text" ng-model="vm.title" name="title" placeholder="Title" />
                    <input class="form-control h6" type="text" ng-model="vm.description" name="description" placeholder="Description" ng-required="true"
                        ng-maxlength="500" />
        
                    <select class="form-control h6" ng-model="vm.categoryId">
                        <option value="">Select the category of your incident</option>
                        <option ng-model="vm.categoryId" value="1">Infrastructure</option>
                        <option ng-model="vm.categoryId" value="2">Software</option>
                        <option ng-model="vm.categoryId" value="3">Components</option>
                        <option ng-model="vm.categoryId" value="4">Repair</option>
                    </select>
                </form>
        
                <td>
                    <button class="btn btn-primary btn-block" ng-click="vm.addIncident(vm.title, vm.description, vm.categoryId)">Save</button>
                    <a class="btn btn-dark btn-lg" ui-sref="homeCollaborator">Back</a>
                </td>        
            </div>
        </div>
</fieldset>