.jumbotron {
	width: 800px;
	text-align: center;
	margin-top: 26px;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	margin-bottom: 30px;
}
.table {
	margin-top: 20px;
}
.form-control {
	margin-bottom: 5px;
}
.select {
	background-color: salmon;
}
.bold {
	font-weight: bold;
}
hr {
	border-color: black;
}