<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Calmo.Core" version="1.0.2" targetFramework="net462" />
  <package id="Calmo.Data" version="1.0.2" targetFramework="net462" />
  <package id="Calmo.Data.SQLServer" version="1.0.2" targetFramework="net462" />
  <package id="Dapper" version="1.50.5" targetFramework="net462" />
</packages>